
# Django Settings
DEBUG=True
DJANGO_SECRET_KEY=django-insecure-0dxud_bzn1-j5*+avl*c7ossn*qcsin#*36(l#y04xzyv$nur8
ALLOWED_HOSTS=localhost,127.0.0.1,simba-intel.onrender.com
SITE_ID=1
CSRF_TRUSTED_ORIGINS=http://localhost:8000,https://simba-intel.onrender.com

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# AI Provider API Keys
GROQ_API_KEY=your-groq-api-key
MISTRAL_API_KEY=your-mistral-api-key
TAVILY_API_KEY=your-tavily-api-key

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-gmail-app-password
DEFAULT_FROM_EMAIL=your-email@gmail.com
ACCOUNT_EMAIL_VERIFICATION=none
